* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('/FrontendIHC/Fotos/fondo.jpg');
}

.formlogin {
    width: 400px;
    height: 330px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    border: 20px;
    color: white;
}

.formlogin h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px;
    font-size: 25px;
    font-weight: bold;
}

.formlogin h6 {
    margin: 0;
    text-align: center;
    height: 40px;
    border-bottom: 1px;
    font-size: 15px;
    font-weight: light;
}

.control {
    width: 100%;
    border: 1px;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #d1d1d1;
    font-size: 14px;
    font-weight: bold;
}

.boton {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
    border-radius: 20px;
}

.boton:hover {
    text-decoration: underline;
    cursor: pointer;
}

.formlogin p {
    height: 40px;
    text-align: center;
}

.formlogin a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.formlogin a:hover {
    text-decoration: underline;
}