<nav>
    <div class="nav-wrapper cyan accent-4">
      <a routerLink="" class="brand-logo">Logo</a>
      <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="sass.html">Seguridad</a></li>
        <li><a routerLink="badges.html">Administración</a></li>
        <li><a routerLink="collapsible.html">Procesos</a></li>
        <li><a routerLink="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="sass.html">Sass</a></li>
    <li><a routerLink="badges.html">Components</a></li>
    <li><a routerLink="collapsible.html">Javascript</a></li>
    <li><a routerLink="mobile.html">Mobile</a></li>
  </ul>
